@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}
main{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
}
main h1{
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 420;
    margin-top: -22px;
}
#image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
img{
    border-radius: 30px;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
.text{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.white-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.white-text h2{
    color: rgb(224, 224, 224);
    font-size: 28px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 350;
}
.black-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}
.black-text h2{
    color: rgb(31, 31, 31);
    font-size: 28px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 350;
}
.crossby{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.exp{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    height: 40vh;
    flex-direction: column;
}
.exp h1{
    font-size: 52px;
}
.work-exp{
    margin-left: 40%;
    margin-top: 30px;
}
.work-exp ul li{
    display: flex;
    margin: 30px;
    font-family: "Roboto", sans-serif;
}

#selected{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#selected h1{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
}
#left , #right
{
    /* border: 1px solid yellow; */
    height: 100%;
}
#left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#left >div:nth-child(2)
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    /* border: 1px solid white; */
}
#name
{
    /* border: 1px solid white; */
    padding: 20px;
    font-size: 40px;
    font-weight: 800;
}
#description
{
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    color: #f3f3f3;
}
#myimage
{
    width: 60%;
    height: auto;
}
#imageDetails
{
    padding: 10px;
    color: #b6b6b6;
}
#right > div:nth-child(1)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    padding: 20px;
}
footer
{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    width: 100%;
    height: 85vh;
    padding: 0px;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
}
.contact
{
    font-size: 30px;
    /* padding: 20px; */
}
#email
{
    color: black;
    background-color: white;
    border-radius: 30px;
    width: min-content;
    padding: 18px;
    font-size: 20px;
}
#right > div:nth-child(2)
{
    /* border: 1px solid yellow; */
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    padding-left: 20px;
    gap: 30px;
}

#projectsSection>div:nth-child(1) , #socials>div:nth-child(1)
{
    font-size: 35px;
    padding: 40px 40px 40px 0px;
}
#projectsSection>div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projects
{
    font-size: 15px;
}
#socials>div:nth-child(2)
{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 25px 25px;
    gap: 25px;
}
.icons
{
    height: 15px;
    width: auto;
    margin-right: 5px;
}
.link
{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #b6b6b6;
    /* border: 1px solid yellow; */
}